<html>

<head>
<meta http-equiv="content-type" content="text/html;charset=shift_jis">
<title>もばめるったー</title>
</head>

<body bgcolor="#ffffff" link="#4682b4" alink="#4169e1" vlink="#4169e1" text="#708090">

<%= @content_for_layout %>

<font size="1">(C)GAOOH.COM</font></div>
</body>
</html>
